<%- include('include/_header')%>

<div class="nav justify-content-center">
            <div id="car" class="card border-primary mb-4" >
                <div class="card-header"> <h1>Get your QR Here</h1></div>
                <div class="card-body text-primary">
                    <form action="/scan" method="post">
                        <input id="input" type="url" name="url" placeholder="Place your URL" class="form-control" required><br>
                       <div class="text-center"> <input class="btn btn-outline-success" type="submit" value="Get QR" class="btn"> </div> 
                     </form>
                 
<%- include('include/_footer')%>             